name: CI

on:
  push:
  pull_request:
  schedule:
    - cron: "0 3 * * *"
  release:
    types: [created]

jobs:
  egginfo:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: Install tox
        run: python -m pip install --upgrade tox
      - name: egg-info cadcutils
        run: cd cadcutils && tox -e egg_info
      - name: egg-info cadcdata
        run: cd cadcdata && tox -e egg_info
      - name: egg-info cadctap
        run: cd cadctap && tox -e egg_info
      - name: egg-info cadccutout
        run: cd cadccutout && tox -e egg_info

  tests:
    needs: egginfo
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        #TODO 2.7 fails on GH Actions but cannot be reproduced locally. Disabled for now.
        # python-version: [2.7,3.5,3.6,3.7,3.8,3.9]
        python-version: [3.5,3.6,3.7,3.8,3.9]
        # cadccutout is left out since it does not support all the above python versions
        package: [cadcutils, cadcdata, cadctap]
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install tox
      run: python -m pip install --upgrade tox
    - name: Test ${{ matrix.package }}
      run: cd ${{ matrix.package }} && tox -e py${{ matrix.python-version }}

  style_n_coverage:
    runs-on: ubuntu-latest
    needs: tests
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: Setup Graphviz
        uses: ts-graphviz/setup-graphviz@v1
      - name: Install tox
        run: python -m pip install --upgrade tox
      - name: checkstyle & coverage cadcutils
        run: cd cadcutils && tox -e checkstyle && tox -e cov
      - name: checkstyle & coverage cadcdata
        run: cd cadcdata && tox -e checkstyle && tox -e cov
      - name: checkstyle & coverage cadctap
        run: cd cadctap &&  tox -e checkstyle && tox -e cov
      - name: checkstyle & coverage cadccutout
        run: cd cadccutout &&  tox -e checkstyle && tox -e cov
      - name: Upload coverage to codecov
        uses: codecov/codecov-action@v1
        with:
          files: 
            ./cadcutils/coverage.xml
            ./cadcdata/coverage.xml
            ./cadctap/coverage.xml
            ./cadccutout/coverage.xml
       
  build-n-publish:
    name: Build and publish to PyPI
    needs: style_n_coverage
    runs-on: ubuntu-latest
    if: contains(github.ref, '=')
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.x'
    - name: Determine the package
      run: |
        echo ${GITHUB_REF#refs/*/}
        echo "repo_name=$(echo ${GITHUB_REF#refs/*/} | awk -F '=' '{print $1}')" >> $GITHUB_ENV
        echo "repo_version=$(echo ${GITHUB_REF#refs/*/} | awk -F '=' '{print $2}')" >> $GITHUB_ENV
    - name: Check version is valid
      run: |
        echo ${{ env.repo_name }}
        echo ${{ env.repo_version }}
        cd ${{ env.repo_name }} || (echo "Invalid release tag. Repo not found: ${{ env.repo_name }}" && exit -1)
        sed 's/ //g' setup.cfg | grep "^version=${{ env.repo_version }}" || (echo "Version in tag ${{ env.repo_version }} does not match version in setup.cfg" && exit -1)
    - name: Install dependencies
      run: |
        cd ${{ env.repo_name }}
        python -m pip install --upgrade pip
        pip install setuptools wheel twine
    - name: Build and publish
      env:
        TWINE_USERNAME: ${{ secrets.PYPI_PUBLISH_USER }}
        TWINE_PASSWORD: ${{ secrets.PYPI_PUBLISH_PWORD }}
      run: |
        cd ${{ env.repo_name }}
        python setup.py sdist bdist_wheel
        twine upload dist/*
